@import '~normalize.css';
@import '~@blueprintjs/core/lib/css/blueprint.css';
@import '~@blueprintjs/icons/lib/css/blueprint-icons.css';

body {
  margin: 1em auto;
  max-width: 600px;
}

.auth-form {
  margin-top: 10px;
}

.auth-card {
  max-width: 400px;
}

.loader {
  margin: 100px auto;
}

.user-details {
  display: flex;
  justify-content: space-between;
}

.user-actions {
  display: flex;
  flex-direction: column;
}

/* ----- Workspace Styling ----- */
.workspace-card {
  border: 1px solid lightgray;
  border-radius: 5px;
  box-shadow: 0px 0px 4px lightgray;
  margin-bottom: 10px;
  width: 600px;
}

.workspace-card-header {
  padding: 0 10px;
  color: white;
  background-color: lightgray;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom: 1px solid lightgray;
  display: flex;
  justify-content: space-between;
}

.workspace-card-body {
  padding: 10px;
}

/* ----- Glosser Card Styles ----- */
input[type="text"].grow,
span.grow {
  border: 2px solid #666;
}

input[type="text"].grow {
  width: 2em;
  padding: 0.5em 1em;
  color: #555;
  outline: 0;
}

input[type="text"].grow:focus {
  border-color: #ff7996;
}

span.grow {
  position: absolute;
  left: -9999px;
  display: inline-block;
  min-width: 2em;
}

.gloss-unlinker {
  border: 1px solid lightgray;
  color: lightgray;
  border-radius: 5px;
}

.gloss-unlinker:hover {
  border: 1px solid lightskyblue;
  color: lightskyblue;
  cursor: pointer;
}

.implied-gloss {
  color: grey;
}

.direct-gloss {
  color: black;
}

/* ---- Tooltips ----- */
.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltip-text {
  visibility: hidden;
  background-color: gray;
  color: white;
  text-align: center;
  padding: 5px;
  border-radius: 6px;
  position: absolute;
  top: -20px;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltip-text {
  transition-delay: 1s;
  transition-property: visibility;
  visibility: visible;
}

.tooltip-clickable:hover {
  cursor: default;
}

.tooltip-normal:hover {
  cursor: default;
}